.all-card-ui{
 background-color: #ffffff;
  padding: 2rem;
  width: 40rem;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  margin: 0rem auto;
  text-align: justify;
  transition: all 0.3s ease;
  position: relative;
  
      
}

@media (max-width:600px){
    .all-card-ui{
        width: 20rem;

    }
}