.paperContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
    row-gap: 5rem;
    padding: 5rem 0 0 5rem;
}

.paperCard{
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width:25rem;
}


.imageContainer{
    height:  12rem;
    background-color: #e0e0e0;
}

.paperImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paperDetails{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

  .paperDetails strong{
    flex-shrink: 0;
    width: 30%;
    font-size: 1rem;
  }

  
  .Button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: linear-gradient(to right, #8ED6F8, #5CB3F5);
    margin-left: .5rem;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Button:hover{
    color: black;
  }

  .paperTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 0.9rem;
  }
  
  .paperTable th, .paperTable td {
    border: 1px solid rgb(151, 150, 150); 
    padding: 0.4rem; 
  }
  
  .paperTable th {
    background-color: #ffffff; 
    font-weight: bold;
    text-align: left;
  }

  .statusPending{
    color:rgb(255, 165, 0)
  }
  .statusRejected{
    color:rgb(220, 53, 69);
  }

  .statusApproved{
    color:green
  }
  

  .noPaperMessage {
    text-align: center;
    background: #f7f7f7;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 500px;
    border: 1px ;
    box-shadow: 2px 2px 10px black;
  }
  
  .uploadButton {
    background: linear-gradient(to right, #8ED6F8, #5CB3F5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .uploadButton:hover {
    color: black;
   
  }
  

  @media (max-width:400px){
    *{
      overflow-x: hidden;
    }
    .paperContainer{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
      padding: 1rem 0 0 1rem;
      width: 20rem;
  }
  .paperTable{
    width: 75%;
  }
  .Button{
    width: 16rem;
  }
  .imageContainer{
    width: 20rem;
  }

  .paperCard{
    width: 25rem;
  }
  }