.label {
    font-size: 1.2rem;
  }

  .heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200px;
    margin-bottom: 1rem;
  }
  .uploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
  }
  
  .leftSection {
    flex: 1;
    margin-left: 10rem;
    max-width: 700px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .illustration {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 1rem;
    display: block;
  }

    .rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fileInputWrapper {
    display: flex;
    margin-top: .6rem                                                                                                                                  ;
    align-items: center;
    border: 1px solid rgb(181, 177, 177);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: auto;
    background-color: #f9f9f9;
    height: 6rem;
  }
  
  .customFileButton {
    padding: .9rem 1rem;
    margin-left: 1rem;
    background: linear-gradient(to right, #8ED6F8, #5CB3F5);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 43rem;
  }
  
  .customFileButton:hover {
    /* background: #0477f1; */
    color:white
  }
  
  .fileName {
    margin-left: 1rem;
    font-size: 1rem;
    color: #333;
  }
  
  .hiddenFileInput {
    display: none;
  }
  
  .fileTypeSelect {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
  }

.button{
    color: rgb(4, 4, 4);
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    background-color: #f1f1f1;
  }
  
  
  .button:hover{
    background: linear-gradient(to right, #8ED6F8, #5CB3F5);
    color: white;
  }
  .required{
    color:red;
    font-size: 1rem;
    margin-left: .2rem;
  }

  @media  (max-width:568px){
    .fileInputWrapper{
      width: 18rem;
    }

  .customFileButton {
    margin-left: .5rem;
  }
  }