.teacherForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  
  .teacherForm label {
    font-size: 1.2rem;
  }
  
  .teacherForm input,
  .teacherForm select {
    border-radius: 5px;
    margin-bottom: .8rem;
    height: 40px;
    padding-left: 0.5rem;
  }
  
  .teacherForm select {
    height: 35px;
    width:100%
  }
  
  .heading {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .button {
    color: rgb(4, 4, 4);
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    background-color: #dcdcda;
  }
  
  .button:hover {
    background-color: green;
    color: white;
  }
  
  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .inputWrapper input {
    width: 100%;
    padding-right: 2.5rem;
  }
  
  .eyeIcon {
    position: absolute;
    right: 0.5rem;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #6c757d;
  }

  .student-card-container{
    border: 2px solid blue;
  }

  .ant-card-body::before{
    padding: 0px;
    border: 2px solid red;
  }
  .required{
    color:red;
    font-size:1rem;
    margin-left: .2rem;
  }
  
  @media (max-width: 600px) {
    .teacherForm {
      grid-template-columns: 1fr;
      gap: 0.1rem;
    }
  }
  