
.profile-card {
  background-color: white;
  padding: 30px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editable-input {
  background-color: #f0f0f0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.disabled-value{
  color:#d6cece;
  cursor: not-allowed;
}
.editButton{
  cursor: pointer;
}
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .label {
    font-weight: bold;
    color: #555;
    text-align: left;
    width: 40%;
  }
  
  .value {
    color: #000;
    text-align: left;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  
 
  